@import 'variables';

.btn {
    width: 2rem !important;
    height: 2rem !important;
    border-radius: 5px !important;

    .btn-default {
        background: color(--iron) !important;
    }
    
    .btn-default:active {
    
    }
    
    .btn-default:hover {
        
    }
    
    .btn-default:focus {
    
    }
}

