$navbar-height: 7vh;
$signup-main-width : 70%;
.signup {

    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/lnu2.jpg');
    background-repeat: no-repeat;
    background-size: cover;


    .navbar {
        position: relative;
        width: 100%;
        height: $navbar-height;
        padding: 5px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        .nav-item {
            font-size: 20px;
            margin: 0 1rem;
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            display: inline-block;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 1.5px;
                bottom: 0;
                left: 0;
                background-color: #fff;
                transform-origin: bottom right;
                transition: transform 0.5s ease-out;
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }

    .signup-content {
        width: 100%;
        height: calc(100vh - $navbar-height);
        display: flex;
        justify-content: center;
        align-items: center;
        
        .signup-main {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: $signup-main-width;
            height: calc(90vh - $navbar-height);
            background: #fff;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 5px;

            .alumni-type {
                width: 50%;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .signup-form {
                width: 100%;
                height: 100vh;
                display: flex;
                justify-content: center;

            }
        }

  
    }

    .btn-signup {
        letter-spacing: 2px;
        font-size: 18px;
    }
}
    
