// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins');

html,
body {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}


// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap-icons/font/bootstrap-icons';
@import '~bootstrap/scss/bootstrap';


@import 'landing';
@import 'signin';
@import 'signup';
@import 'admin';
@import 'dashboard';
@import 'student';





